@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway');


/* The top layer of the dictionary app */
.wrapper {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; 
  background: linear-gradient(18deg, rgba(191,64,106,1) 0%, rgba(238,227,223,1) 53%, rgba(241,236,229,0.49933476808692223) 100%) center center no-repeat;
  background-size: cover;
}

